<template>
     <c-generic-lookup-component obj-name={objName} selected-record-name = {obj.Name} search-placeholder="Search Accounts" filterfields = {filterfields}
        search-key = {searchKey} fieldlabel={fieldlabel} isrequired={isRequired} icon-name="standard:account" onlookupselected={handleSelection}>
     </c-generic-lookup-component>
</template>